<aside>
	<div class="panel radius">
		<h3>Mental Vagabond:</h3>
		<p> Thanks for visiting my site.  I'll be talking about a lot of different topics related to my interests here but primarially about Christian Naturism.  I hope you are openminded.  </p>
		<h4>Senvestulo</h4>
	</div>


    <a href="https://achingforeden.wordpress.com/" target="blank">
	  <img class="b30" src="/images/AchingForEden.png" alt="Aching For Eden blog">
	</a

	<div class="border-dotted radius b30">
	  <a href="http://cnvillage.org/" target="_blank"> 
		<img src="/images/CNV-Ad.png" alt="CNV ad"> 
  	  </a>
	</div>
</aside>